.login__input {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #CCC;
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: transparent;
}

.login__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.login__input + .login__input {
  margin-top: 30px;
}